
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__title-text {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  color: var(--grey-500, #666666);
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__message-text {
  opacity: 0.6;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-500, #666666);
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__message {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__password-label-text{
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-500, #666666);
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__password-label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .container {
  opacity: 0.6;
  margin-right: 8.5px;
  width: 272.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-500, #666666);
}
.ReadyResetPasswordPopUp .reset-password-form .eye {
  opacity: 0.6;
  margin: 0.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Font Awesome 6 Free', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-500, #666666);
}

.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__password-input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__repassword-label-text {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-500, #666666);
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__repassword-label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .container-1 {
  opacity: 0.6;
  margin-right: 8.5px;
  width: 272.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-500, #666666);
}

.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__repassword-input {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__send-button-text {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  color: var(--white, #FFFFFF);
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__send-button-container {
  border-radius: 5px;
  background: var(--primary-2, #658C4A);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__send-button {
  width: 100%;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-top: 56px;
}
.ReadyResetPasswordPopUp .reset-password-form {
  border-radius: 12px;
    background: var(--white, #FFFFFF);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 22.5px 24px 24px 24px;
    box-sizing: border-box;
    position: absolute;
    width: 378px;
    height: 418px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.ReadyResetPasswordPopUp {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 999;
  display: none;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__close {
  position: absolute;
  top: 20px;
  right: 20px;
  flex-direction: row;
  justify-content: center;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.ReadyResetPasswordPopUp .reset-password-form__close-vector {
  width: 16px;
  height: 16px;
}
.ReadyResetPasswordPopUp .reset-password-form__content input{
  border-radius: 5px;
    border: 1px solid var(--grey-500, #666666);
    width: 308.4px;
    height: 40px;
    padding: 0 10px;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__close:hover{
  cursor: pointer;
}
.ReadyResetPasswordPopUp .reset-password-form .reset-password-form__send-button:hover{
  cursor: pointer;
}


@media screen and (max-width: 400px) {
  .ReadyResetPasswordPopUp .reset-password-form {
    border-radius: 8px;
    padding: 15px;
    width: calc(100% - 10px);
    height: 418px;
  }
  .ReadyResetPasswordPopUp .reset-password-form__content input {
    width: 100%;
    box-sizing: border-box;
  }
}